<h3>Einstellungen</h3>
<hr>
<mat-form-field appearance="fill" class="selectShelly">
    <mat-label>Shelly verbunden?</mat-label>
    <mat-select [(value)]="shellyConnected">
      <mat-option value="yes">Ja</mat-option>
      <mat-option value="no">Nein</mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field appearance="fill" class="selectRaspi">
    <mat-label>Raspi verbunden?</mat-label>
    <mat-select [(value)]="raspiConnected">
      <mat-option value="yes">Ja</mat-option>
      <mat-option value="no">Nein</mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field class="example-full-width shellyIpClass">
    <mat-label>Shelly-IP</mat-label>
    <input matInput [(ngModel)]="shellyIp">
</mat-form-field>

<mat-form-field class="example-full-width sensorName">
    <mat-label>Sensor 1 Name</mat-label>
    <input matInput [(ngModel)]="sensor1name">
</mat-form-field>
<mat-form-field class="example-full-width sensorId">
    <mat-label>Sensor 1 ID</mat-label>
    <input matInput [(ngModel)]="sensor1id">
</mat-form-field>

<mat-form-field class="example-full-width sensorName">
    <mat-label>Sensor 2 Name</mat-label>
    <input matInput [(ngModel)]="sensor1name">
</mat-form-field>
<mat-form-field class="example-full-width sensorId">
    <mat-label>Sensor 2 ID</mat-label>
    <input matInput [(ngModel)]="sensor1id">
</mat-form-field>

<mat-form-field class="example-full-width sensorName">
    <mat-label>Sensor 3 Name</mat-label>
    <input matInput [(ngModel)]="sensor1name">
</mat-form-field>
<mat-form-field class="example-full-width sensorId">
    <mat-label>Sensor 3 ID</mat-label>
    <input matInput [(ngModel)]="sensor1id">
</mat-form-field>

<mat-form-field class="example-full-width sensorName">
    <mat-label>Sensor 4 Name</mat-label>
    <input matInput [(ngModel)]="sensor1name">
</mat-form-field>
<mat-form-field class="example-full-width sensorId">
    <mat-label>Sensor 4 ID</mat-label>
    <input matInput [(ngModel)]="sensor1id">
</mat-form-field>

<mat-form-field class="example-full-width sensorName">
    <mat-label>Sensor 5 Name</mat-label>
    <input matInput [(ngModel)]="sensor1name">
</mat-form-field>
<mat-form-field class="example-full-width sensorId">
    <mat-label>Sensor 5 ID</mat-label>
    <input matInput [(ngModel)]="sensor1id">
</mat-form-field>

<mat-form-field class="example-full-width sensorName">
    <mat-label>Sensor 6 Name</mat-label>
    <input matInput [(ngModel)]="sensor1name">
</mat-form-field>
<mat-form-field class="example-full-width sensorId">
    <mat-label>Sensor 6 ID</mat-label>
    <input matInput [(ngModel)]="sensor1id">
</mat-form-field>

<mat-form-field class="example-full-width sensorName">
    <mat-label>Sensor 7 Name</mat-label>
    <input matInput [(ngModel)]="sensor1name">
</mat-form-field>
<mat-form-field class="example-full-width sensorId">
    <mat-label>Sensor 7 ID</mat-label>
    <input matInput [(ngModel)]="sensor1id">
</mat-form-field>

<mat-form-field class="example-full-width sensorName">
    <mat-label>Sensor 8 Name</mat-label>
    <input matInput [(ngModel)]="sensor1name">
</mat-form-field>
<mat-form-field class="example-full-width sensorId">
    <mat-label>Sensor 8 ID</mat-label>
    <input matInput [(ngModel)]="sensor1id">
</mat-form-field>


<button mat-flat-button color="primary" class="saveButton" (click)="saveOptions()">Speichern</button>