<h3>Einstellungen</h3>
<hr>
<mat-tab-group animationDuration="0ms">
    <mat-tab label="Allgemein">
        <mat-form-field appearance="fill" class="selectShelly">
            <mat-label>Shelly verbunden?</mat-label>
            <mat-select [(value)]="shellyConnected">
                <mat-option value="yes">Ja</mat-option>
                <mat-option value="no">Nein</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="selectRaspi">
            <mat-label>Raspi verbunden?</mat-label>
            <mat-select [(value)]="raspiConnected">
                <mat-option value="yes">Ja</mat-option>
                <mat-option value="no">Nein</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width shellyIpClass">
            <mat-label>Shelly-IP</mat-label>
            <input matInput [(ngModel)]="shellyIp">
        </mat-form-field>

        <mat-form-field appearance="fill" class="heartbeatDisabledClass">
            <mat-label>Heartbeat deaktivieren</mat-label>
            <mat-select [(value)]="heartbeatDisabled">
                <mat-option value="yes">Ja</mat-option>
                <mat-option value="no">Nein</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-tab>
    <mat-tab label="Wetter">
        <mat-form-field class="example-full-width weatherName">
            <mat-label>Wetter Bezeichnung</mat-label>
            <input matInput [(ngModel)]="weatherName">
        </mat-form-field>

        <mat-form-field class="example-full-width weatherCity">
            <mat-label>Ort der Abfrage</mat-label>
            <input matInput [(ngModel)]="weatherCity">
        </mat-form-field>

        <mat-form-field class="example-full-width weatherCountryCode">
            <mat-label>Länderkennung (de, at, oder ch)</mat-label>
            <input matInput [(ngModel)]="weatherCountryCode">
        </mat-form-field>

        <mat-form-field class="example-full-width weatherAppId">
            <mat-label>AppId</mat-label>
            <input matInput [(ngModel)]="weatherAppId">
        </mat-form-field>
    </mat-tab>
    <mat-tab label="Sensoren">
        <mat-form-field class="example-full-width sensorName sensor1">
            <mat-label>Sensor 1 Name</mat-label>
            <input matInput [(ngModel)]="sensor1name">
        </mat-form-field>
        <mat-form-field class="example-full-width sensorId sensor1">
            <mat-label>Sensor 1 ID</mat-label>
            <input matInput [(ngModel)]="sensor1id">
        </mat-form-field>
        <mat-form-field class="example-full-width sensorId ">
            <mat-label>Sensor 1 Icon</mat-label>
            <input matInput [(ngModel)]="sensor1icon">
        </mat-form-field>

        <mat-form-field class="example-full-width sensorName sensor2">
            <mat-label>Sensor 2 Name</mat-label>
            <input matInput [(ngModel)]="sensor2name">
        </mat-form-field>
        <mat-form-field class="example-full-width sensorId ">
            <mat-label>Sensor 2 ID</mat-label>
            <input matInput [(ngModel)]="sensor2id">
        </mat-form-field>
        <mat-form-field class="example-full-width sensorId ">
            <mat-label>Sensor 2 Icon</mat-label>
            <input matInput [(ngModel)]="sensor2icon">
        </mat-form-field>

        <mat-form-field class="example-full-width sensorName sensor3">
            <mat-label>Sensor 3 Name</mat-label>
            <input matInput [(ngModel)]="sensor3name">
        </mat-form-field>
        <mat-form-field class="example-full-width sensorId sensor3">
            <mat-label>Sensor 3 ID</mat-label>
            <input matInput [(ngModel)]="sensor3id">
        </mat-form-field>
        <mat-form-field class="example-full-width sensorId ">
            <mat-label>Sensor 3 Icon</mat-label>
            <input matInput [(ngModel)]="sensor3icon">
        </mat-form-field>

        <mat-form-field class="example-full-width sensorName sensor4">
            <mat-label>Sensor 4 Name</mat-label>
            <input matInput [(ngModel)]="sensor4name">
        </mat-form-field>
        <mat-form-field class="example-full-width sensorId ">
            <mat-label>Sensor 4 ID</mat-label>
            <input matInput [(ngModel)]="sensor4id">
        </mat-form-field>
        <mat-form-field class="example-full-width sensorId ">
            <mat-label>Sensor 4 Icon</mat-label>
            <input matInput [(ngModel)]="sensor4icon">
        </mat-form-field>

        <mat-form-field class="example-full-width sensorName sensor5">
            <mat-label>Sensor 5 Name</mat-label>
            <input matInput [(ngModel)]="sensor5name">
        </mat-form-field>
        <mat-form-field class="example-full-width sensorId sensor5">
            <mat-label>Sensor 5 ID</mat-label>
            <input matInput [(ngModel)]="sensor5id">
        </mat-form-field>
        <mat-form-field class="example-full-width sensorId ">
            <mat-label>Sensor 5 Icon</mat-label>
            <input matInput [(ngModel)]="sensor5icon">
        </mat-form-field>

        <mat-form-field class="example-full-width sensorName sensor6">
            <mat-label>Sensor 6 Name</mat-label>
            <input matInput [(ngModel)]="sensor6name">
        </mat-form-field>
        <mat-form-field class="example-full-width sensorId ">
            <mat-label>Sensor 6 ID</mat-label>
            <input matInput [(ngModel)]="sensor6id">
        </mat-form-field>
        <mat-form-field class="example-full-width sensorId ">
            <mat-label>Sensor 6 Icon</mat-label>
            <input matInput [(ngModel)]="sensor6icon">
        </mat-form-field>

        <mat-form-field class="example-full-width sensorName sensor7">
            <mat-label>Sensor 7 Name</mat-label>
            <input matInput [(ngModel)]="sensor7name">
        </mat-form-field>
        <mat-form-field class="example-full-width sensorId sensor7">
            <mat-label>Sensor 7 ID</mat-label>
            <input matInput [(ngModel)]="sensor7id">
        </mat-form-field>
        <mat-form-field class="example-full-width sensorId ">
            <mat-label>Sensor 7 Icon</mat-label>
            <input matInput [(ngModel)]="sensor7icon">
        </mat-form-field>

        <mat-form-field class="example-full-width sensorName sensor8">
            <mat-label>Sensor 8 Name</mat-label>
            <input matInput [(ngModel)]="sensor8name">
        </mat-form-field>
        <mat-form-field class="example-full-width sensorId ">
            <mat-label>Sensor 8 ID</mat-label>
            <input matInput [(ngModel)]="sensor8id">
        </mat-form-field>
        <mat-form-field class="example-full-width sensorId ">
            <mat-label>Sensor 8 Icon</mat-label>
            <input matInput [(ngModel)]="sensor8icon">
        </mat-form-field>
    </mat-tab>
    <mat-tab label="Pumpe">
        <mat-form-field appearance="fill" class="selectPumpRelay">
            <mat-label>Relay der Pumpe am Shelly?</mat-label>
            <mat-select [(value)]="pumpConnectedShellyRelay">
                <mat-option value="0">0</mat-option>
                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="selectPumpRelay">
            <mat-label>Bezeichnung Shelly Channel 0?</mat-label>
            <input matInput [(ngModel)]="shellyRelay0Name">
        </mat-form-field>
        <mat-form-field appearance="fill" class="selectPumpRelay">
            <mat-label>Bezeichnung Shelly Channel 1?</mat-label>
            <input matInput [(ngModel)]="shellyRelay1Name">
        </mat-form-field>
        <mat-form-field appearance="fill" class="selectPumpRelay">
            <mat-label>Bezeichnung Shelly Channel 2?</mat-label>
            <input matInput [(ngModel)]="shellyRelay2Name">
        </mat-form-field>
    </mat-tab>
    <mat-tab label="Solar">
        <mat-form-field appearance="fill" class="selectPumpRelay">
            <mat-label>Temperatur Sensor-ID Skimmer?</mat-label>
            <mat-select [(value)]="temperatureSensorIdSkimmer">
                <mat-option value="tempSensor1">1</mat-option>
                <mat-option value="tempSensor2">2</mat-option>
                <mat-option value="tempSensor3">3</mat-option>
                <mat-option value="tempSensor4">4</mat-option>
                <mat-option value="tempSensor5">5</mat-option>
                <mat-option value="tempSensor6">6</mat-option>
                <mat-option value="tempSensor7">7</mat-option>
                <mat-option value="tempSensor8">8</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="selectPumpRelay">
            <mat-label>Temperatursensor-ID Solar-Rücklauf?</mat-label>
            <mat-select [(value)]="temperatureSensorIdSolar">
                <mat-option value="tempSensor1">1</mat-option>
                <mat-option value="tempSensor2">2</mat-option>
                <mat-option value="tempSensor3">3</mat-option>
                <mat-option value="tempSensor4">4</mat-option>
                <mat-option value="tempSensor5">5</mat-option>
                <mat-option value="tempSensor6">6</mat-option>
                <mat-option value="tempSensor7">7</mat-option>
                <mat-option value="tempSensor8">8</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-tab>
</mat-tab-group>

<button mat-flat-button color="primary" class="saveButton" (click)="saveOptions()">Speichern</button>