h3{
    text-align: center;
    margin-top: 1%;
}

.selectShelly{
    margin-left: 4%;
    margin-top: 2%;
    font-size: 10pt;
}

.saveButton{
    position: absolute;
    bottom: 5%;
    right: 2%;
}

.shellyIpClass{
    margin-left: 4%;
    width: 25%;
    font-size: 10pt;
}

.selectRaspi{
    margin-left: 4%;
    font-size: 10pt;
}

.sensorName{
    margin-top: 3%;
    margin-left: 1%;
    width: 17%;
    font-size: 10pt;
}

.sensorId{
    margin-left: 1%;
    width: 14%;
    font-size: 10pt;
}

.sensor2{
    margin-left: 4%;
}

.sensor3{
    
}

.sensor4{
    margin-left: 4%;
}

.sensor5{
    
}

.sensor6{
    margin-left: 4%;
}

.sensor7{
    
}

.sensor8{
    margin-left: 4%;
}

.weatherCity{
    margin-left: 4%;
    margin-top: 2%;
    font-size: 10pt;
}

.weatherName{
    margin-left: 4%;
    margin-top: 2%;
    font-size: 10pt;
}

.weatherCountryCode{
    margin-left: 4%;
    margin-top: 2%;
    font-size: 9pt;
}

.weatherAppId{
    margin-left: 4%;
    font-size: 10pt;
}

.heartbeatDisabledClass{
    margin-left: 4%;
}

.selectPumpRelay{
    width: 34%;
    font-size: 10pt;
    margin-left: 2%;
    margin-top: 2%;
}

.selectSolarSkimmerSensors{
    width: 44%;
    font-size: 10pt;
    margin-left: 2%;
}

.automatedSolarDeactivation{
    width: 30%;
    margin-left: 2%;
    font-size: 10pt;
}

.automatedSolarDeactivationText{
    
}

.automatedSolarDeactivationCheckbox{
    width: 10%;
    margin-left: 28%;
    margin-top: -5%;
}

.automatedWaterTemperatureDeactivation{
    width: 32%;
    margin-left: 40%;
    margin-top: -5%;
    font-size: 10pt;
}

.automatedWaterTemperatureDeactivationText{

}

.automatedWaterTemperatureDeactivationCheckbox{
    width: 10%;
    margin-left: 59%;
    position: fixed;
    margin-top: -6%;
}

.checkboxAutomatedSolar{

}

.checkboxTemperatureDeactivation{

}


