<link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">
<div class="switches">
    <div class="leftSwitches">
        <div class="leftSwitch" (click)="toggleDevice('0')">
            <div class="topStatusBar">

            </div>
            <div class="buttonArea">
                <div class="buttonIcon">
                    <i class="fas sizeCorrection fa-power-off"></i>
                </div>
                <div class="buttonDescription">
                    <span class="buttonDescriptionText">Poolpumpe</span>
                </div>
                <div class="buttonRuntimeAndPowerConsumption">
                    <div class="buttonRuntimeRuntime">
                        {{ relayZeroRuntime ? relayZeroRuntime + ' Minuten' : '0 Minuten' }}
                    </div>
                    <div class="buttonRuntimePower">
                        {{ relayZeroWatt ? relayZeroWatt + ' Watt' : '0 Watt' }}
                    </div>
                </div>
            </div>
            <div class="bottomStatusBar" [ngClass]="{'greenBackground' : relayZeroIsOn,'redBackground' : !relayZeroIsOn }">

            </div>
        </div>
        <div class="leftSwitch" style="margin-top: 3%;" (click)="toggleDevice('1')">
            <div class="topStatusBar">

            </div>
            <div class="buttonArea">
                <div class="buttonIcon">
                    <i class="fas sizeCorrection fa-power-off"></i>
                </div>
                <div class="buttonDescription">
                    <span class="buttonDescriptionText">Musik</span>
                </div>
                <div class="buttonRuntimeAndPowerConsumption">
                    <div class="buttonRuntimeRuntime">
                        {{ relayOneRuntime ? relayOneRuntime + ' Minuten' : '0 Minuten' }}
                    </div>
                    <div class="buttonRuntimePower">
                        {{ relayOneWatt ? relayOneWatt + ' Watt' : '0 Watt' }}
                    </div>
                </div>
            </div>
            <div class="bottomStatusBar" [ngClass]="{'greenBackground' : relayOneIsOn,'redBackground' : !relayOneIsOn }">

            </div>
        </div>
    </div>
    <div class="rightSwitches">
        <div class="rightSwitch" (click)="toggleDevice('3')">
            <div class="topStatusBar">

            </div>
            <div class="buttonArea">
                <div class="buttonIcon">
                    <i class="fas sizeCorrection fa-power-off"></i>
                </div>
                <div class="buttonDescription">
                    <span class="buttonDescriptionText">Beleuchtung</span>
                </div>
                <div class="buttonRuntimeAndPowerConsumption">
                    <div class="buttonRuntimeRuntime">
                        {{ relayThreeRuntime ? relayThreeRuntime + ' Minuten' : '0 Minuten' }}
                    </div>
                    <div class="buttonRuntimePower">
                        {{ relayThreeWatt ? relayThreeWatt + ' Watt' : '0 Watt' }}
                    </div>
                </div>
            </div>
            <div class="bottomStatusBar" [ngClass]="{'greenBackground' : relayThreeIsOn,'redBackground' : !relayThreeIsOn }">

            </div>
        </div>
        <div class="rightSwitch" style="margin-top: 3%;" (click)="setSolar()">
            <div class="topStatusBar">
                <mat-progress-bar [hidden]="!solarJustChanged" mode="indeterminate"></mat-progress-bar>
            </div>
            <div class="buttonArea">
                <div class="buttonIcon">
                    <i class="fas sizeCorrection fa-power-off" [ngClass]="{'disableButton' : solarJustChanged,'' : !solarJustChanged }"></i>
                </div>
                <div class="buttonDescription">
                    <span class="buttonDescriptionText" [ngClass]="{'disableButton' : solarJustChanged,'' : !solarJustChanged }">Solarabsorber</span>
                </div>
                <div class="buttonRuntimeAndPowerConsumption" style="border-left: 0">
                    
                </div>
            </div>
            <div class="bottomStatusBar" [ngClass]="{'greenBackground' : solarIsOn,'redBackground' : !solarIsOn }">
            </div>
        </div>
    </div>
</div>
<div class="upperTemps">
    <hr class="hrcorrection">
    <mat-progress-bar class="loadingBar" [hidden]="!showLoaderTemps" mode="indeterminate"></mat-progress-bar>
    <p [hidden]="!noValues" style="color: green; font-weight: bold; display: inline-block;position: absolute; top: 33%; left: 34%">Server Verbindung ok - Keine Werte vorhanden!<p>
    <p [hidden]="envBoolean" style="color: Orange; font-weight: bold; display: inline-block;position: absolute; top: 33%; left: 47%">Dev-Environment!<p>
    <div class="tempContainer">
        <div id="containerTempSolaranlage">
            <round-progress class="roundProgress"
            [current]="tempSolaranlage"
            [max]="50"
            [color]="colorTempSolaranlage"
            [background]="'#eaeaea'"
            [radius]="125"
            [stroke]="20"
            [semicircle]="true"
            [rounded]="true"
            [clockwise]="true"
            [responsive]="false"
            [duration]="800"
            [animation]="'easeInOutQuart'"
            [animationDelay]="0"
            ></round-progress>
        </div>
        <p class="tempIcon"><i [class]="sensor1icon"></i></p>
        <div class="upperAliner" style="text-align: center;">{{ sensor1name }}</div>
        <p class="upperTemperature">{{ tempSolaranlage ? tempSolaranlage + '°C' : '' }}</p>
    </div>
    <div class="tempContainer">
        <div id="containerTempGartenhuette">
            <round-progress class="roundProgress"
            [current]="tempGartenhuette"
            [max]="50"
            [color]="colorTempGartenhuette"
            [background]="'#eaeaea'"
            [radius]="125"
            [stroke]="20"
            [semicircle]="true"
            [rounded]="true"
            [clockwise]="true"
            [responsive]="false"
            [duration]="800"
            [animation]="'easeInOutQuart'"
            [animationDelay]="0"
            ></round-progress>
        </div>
        <p class="tempIcon"><i [class]="sensor2icon"></i></p>
        <div class="upperAliner" style="text-align: center">{{ sensor2name }}</div>
        <p class="upperTemperature">{{ tempGartenhuette ? tempGartenhuette + '°C' : '' }}</p>
    </div>
    <div class="tempContainer">
        <div id="containerTempRaspiGehaeuse">
            <round-progress class="roundProgress"
            [current]="tempRaspberryGehaeuse"
            [max]="50"
            [color]="colorTempRaspberryGehaeuse"
            [background]="'#eaeaea'"
            [radius]="125"
            [stroke]="20"
            [semicircle]="true"
            [rounded]="true"
            [clockwise]="true"
            [responsive]="false"
            [duration]="800"
            [animation]="'easeInOutQuart'"
            [animationDelay]="0"
            ></round-progress>
        </div>
        <p class="tempIcon"><i [class]="sensor3icon"></i></p>
        <div class="upperAliner" style="text-align: center">{{ sensor3name }}</div>
        <p class="upperTemperature">{{ tempRaspberryGehaeuse ? tempRaspberryGehaeuse + '°C' : '' }}</p>
    </div>
</div>
<hr>
<div class="middleTemps">
    <div class="tempContainer">
        <div id="containerTempSwitchGehaeuse">
            <round-progress class="roundProgressMiddle"
            [current]="tempSwitchgehaeuse"
            [max]="50"
            [color]="colorTempSwitchGehaeuse"
            [background]="'#eaeaea'"
            [radius]="125"
            [stroke]="20"
            [semicircle]="true"
            [rounded]="true"
            [clockwise]="true"
            [responsive]="false"
            [duration]="800"
            [animation]="'easeInOutQuart'"
            [animationDelay]="0"
            ></round-progress>
        </div>
        <p class="tempIcon"><i [class]="sensor4icon"></i></p>
        <div class="upperAliner" style="text-align: center">{{ sensor4name }}</div>
        <p class="upperTemperature">{{ tempSwitchgehaeuse ? tempSwitchgehaeuse + '°C' : '' }}</p>
    </div>
    <div class="tempContainer">
        <div id="containerTempHifiGehaeuse">
            <round-progress class="roundProgressMiddle"
            [current]="tempHifiGehaeuse"
            [max]="50"
            [color]="colorTempHifiGehaeuse"
            [background]="'#eaeaea'"
            [radius]="125"
            [stroke]="20"
            [semicircle]="true"
            [rounded]="true"
            [clockwise]="true"
            [responsive]="false"
            [duration]="800"
            [animation]="'easeInOutQuart'"
            [animationDelay]="0"
            ></round-progress>
        </div>
        <p class="tempIcon"><i [class]="sensor5icon"></i></p>
        <div class="upperAliner" style="text-align: center">{{ sensor5name }}</div>
        <p class="upperTemperature">{{ tempHifiGehaeuse ? tempHifiGehaeuse + '°C' : '' }}</p>
    </div>
    <div class="tempContainer">
        <div id="containerTempSkimmer">
            <round-progress class="roundProgressMiddle"
            [current]="tempSkimmer"
            [max]="50"
            [color]="colorTempSkimmer"
            [background]="'#eaeaea'"
            [radius]="125"
            [stroke]="20"
            [semicircle]="true"
            [rounded]="true"
            [clockwise]="true"
            [responsive]="false"
            [duration]="800"
            [animation]="'easeInOutQuart'"
            [animationDelay]="0"
            ></round-progress>
        </div>
        <p class="tempIcon"><i [class]="sensor6icon"></i></p>
        <div class="upperAliner" style="text-align: center">{{ sensor6name }}</div>
        <p class="upperTemperature">{{ tempSkimmer ? tempSkimmer + '°C' : '' }}</p>
    </div>
</div>
<hr>
<div class="bottomTemps">
    <div class="bottomTempContainer" [hidden]="!solarIsOn">
        <p class="bottomTemperatureIcon"> <i [class]="sensor7icon"></i></p>
        <p class="bottomTemperature">{{ sensor8name }}: <b>{{ tempWarmesWasser ? tempWarmesWasser + '°C' : '' }}</b></p>
    </div>
    <div class="bottomTempContainer">
        <p class="bottomTemperatureIcon"><i [class]="sensor8icon"></i></p>
        <p class="bottomTemperature">{{ sensor7name }}: <b>{{ tempLufttemperatur ? tempLufttemperatur + '°C' : '' }}</b></p>
    </div>
    <div class="bottomTempContainer" [hidden]="!solarIsOn">
        <p class="bottomTemperatureIcon"><i class="fas fa-thermometer"></i></p>
        <p class="bottomTemperature">Solargewinn: <b>{{ tempHelper ? tempHelper + '°C' : '' }}</b></p>
    </div>
</div>

<div class="chartContainer displayNone">
    Chart:<br>
    <div [chart]="stock" style="height: 400px; min-width: 310px"></div>
</div>



